<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <title> Карточка клиента </title>
        
        {% macro render_table(table_name, relation, id) %}
            {% if len(relation) != 0 %}
            <div class="table">
                <p>
                    <b>{{table_name}}</b>
                </p>
                {% set n = len(relation) %}
                <table>
                    <thead>
                        <tr>
                            {% for name in relation.dtypes.index %}
                                {% if name != "room_client_id" %}
                                    <th>{{name}}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(n) %}
                        <tr>
                            {% for name in relation.dtypes.index %}
                                {% if name == "Дата_выселения" and relation.loc[i, name] == None and name != "room_client_id" %}
                                    <td>
                                        <button type="submit" name="return_room" value={{relation.loc[i, "room_client_id"]}}>Выселить</button>
                                    </td>
                                {% elif name != "room_client_id" %}
                                    <td>
                                        {{relation.loc[i, name]}}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>
                Выбранный клиент не заселён.
            </p>
            {% endif %}
        {% endmacro %}
        {% macro render_select(list, selected_id) %}
            <select name="client">
                {% set n = len(list) %}
                {% for i in range(n) %}
                    {% set id_r = list.loc[i, "client_id"] %}
                    {% if id_r == selected_id %}
                        <option selected value={{id_r}}>
                    {% else %}
                        <option value="{{id_r}}">
                    {% endif %}
                    {{list.loc[i, "client_name"]}}
                    </option>
                {% endfor %}
            </select>
        {% endmacro %}
    </head>
    <body>
        <div class="menu">
            <ul>
                <li class ="active"><a href={{ url_for("index")}}>Клиент</a></li>

            </ul>
        </div>
        <div class="block">
            <p>
                <form action='' method ="get">
                    клиент:
                    {{render_select(combo_box, client_id)}}
                    <input type="submit" value="Найти">
                </form>
            </p>
            <p>
                <form action ="{{url_for("new_client")}}" method="get">
                    <input type="submit" value="Новый клиент">
                </form>
            </p>
            <form action="{{url_for("index")}}" method="get">
                {{ render_table("Список", room_client, "room_client_id") }}
            </form>
            <p>
                <form action ={{url_for("search")}} method="get">
                    <input type="submit" value="Заселить">
                </form>
            </p>
        </div>
    </body>
</html>